<!-- this is the client page -->
<link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
<script src="https://unpkg.com/flatpickr"></script>

<% include ../partials/newJobForm %>
<div id="app">

</div>
