<div class="container">
  <div class="row text-align-center">
    <h1>manage.ejs</h1>
  </div>


  <div class="row" style="border:1px solid black; padding:1em; margin-bottom:1.5em;">
  <div class="row">
      <div class="one-half column text-align-center">
        <h5>
          JobID:123 | Status:Pending
        </h5>
      </div>
      <div class="one-half column text-align-center">
        <button type="button" name="button">Edit</button>
        <button type="button" name="button">Cancel</button>
      </div>
    </div>
    <div class="row">
      <!-- append map here in the future -->
    </div>
    <div class="row">
      <div class="six columns">
        <div class="row">
            <h5>Pickup</h5>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Name</strong>
          </div>
          <div class="nine columns">
            nameHere
          </div>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Contact</strong>
          </div>
          <div class="nine columns">
            contacteHere
          </div>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Address</strong>
          </div>
          <div class="nine columns">
            This should be a proper address, <br/>
            Singapore + PostalCode
          </div>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Date & Time</strong>
          </div>
          <div class="nine columns">
            <p>
              2016-12-01 08:00
            </p>
          </div>
        </div>
      </div>

      <div class="six columns">
        <h5>Dropoff</h5>
        <div class="row">
          <div class="three columns">
          <strong>Name</strong>
          </div>
          <div class="nine columns">
            nameHere
          </div>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Contact</strong>
          </div>
          <div class="nine columns">
            contacteHere
          </div>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Address</strong>
          </div>
          <div class="nine columns">
            This should be a proper address too, <br/>
            Singapore + PostalCode
          </div>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Date & Time</strong>
          </div>
          <div class="nine columns">
            <p>
              2016-12-01 08:00
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="border:1px solid black; padding:1em; margin-bottom:1.5em;">
  <div class="row">
      <div class="one-half column text-align-center">
        <h5>
          JobID:123 | Status:Pending
        </h5>
      </div>
      <div class="one-half column text-align-center">
        <button type="button" name="button">Edit</button>
        <button type="button" name="button">Cancel</button>
      </div>
    </div>
    <div class="row">
      <!-- append map here in the future -->
    </div>
    <div class="row">
      <div class="six columns">
        <div class="row">
            <h5>Pickup</h5>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Name</strong>
          </div>
          <div class="nine columns">
            nameHere
          </div>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Contact</strong>
          </div>
          <div class="nine columns">
            contacteHere
          </div>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Address</strong>
          </div>
          <div class="nine columns">
            This should be a proper address, <br/>
            Singapore + PostalCode
          </div>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Date & Time</strong>
          </div>
          <div class="nine columns">
            <p>
              2016-12-01 08:00
            </p>
          </div>
        </div>
      </div>

      <div class="six columns">
        <h5>Dropoff</h5>
        <div class="row">
          <div class="three columns">
          <strong>Name</strong>
          </div>
          <div class="nine columns">
            nameHere
          </div>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Contact</strong>
          </div>
          <div class="nine columns">
            contacteHere
          </div>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Address</strong>
          </div>
          <div class="nine columns">
            This should be a proper address too, <br/>
            Singapore + PostalCode
          </div>
        </div>
        <div class="row">
          <div class="three columns">
          <strong>Date & Time</strong>
          </div>
          <div class="nine columns">
            <p>
              2016-12-01 08:00
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>



<div class="container" >

</div>
