<link rel="stylesheet" href="/css/nav.css">
<ul class="topnav" id="myTopnav">
  <li><a class="floatLeft" href="/">REIGNdeer</a></li>
  <li><a class="floatLeft" href="/auth/logout">Logout</a></li>
  <li><a class="floatLeft" href="#news">News</a></li>
  <li><a class="floatLeft" href="#contact">Contact</a></li>
  <li><a>Hello, <%= currentUser.name %></a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="expandHamburger()">&#9776;</a>
  </li>
</ul>
<script src="/js/nav.js"></script>
