<link rel="stylesheet" href="/css/nav.css">
<nav>
  <ul class="topnav" id="myTopnav">
    <li><a href="/"> <img class="nav-logo" src="/images/favicon.png" alt="" /> REIGNdeer</a></li>
    <% if (currentUser) { %>
      <li><a href="/auth/logout">Logout</a></li>
      <% if (currentUser.type === "client") { %>
        <li><a href="/client/manage">Manage</a></li>
      <% } else { %>
        <li><a href="/courier/manage">Manage</a></li>
      <% } %>
      <li><a href="/auth/edit">Hello, <%= currentUser.name %> (<%= currentUser.type %>)</a></li>
    <% } else { %>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup">Signup</a></li>
    <% } %>
    <li class="icon">
      <a href="javascript:void(0);" onclick="expandHamburger()">&#9776;</a>
    </li>

  </ul>
</nav>
<script src="/js/nav.js"></script>
