/*div {
  border: 1px solid black
}*/


/*input #newJobPickupTimeDate {
  width: 100% !important
}*/

.validation-red {
    color: red
}

.validation-green {
    color: green
}

.text-align-center{
  text-align: center;
}


.display-none {
  display: none
}

.text-align-right {
  text-align: right;
}

.inline-block{
  display: inline-block;
}

.zero-margins{
  margin: 0;
}

.zero-paddings{
  padding: 0 !important;
}

.top-margin{
  margin-top: 1.5em
}

.left-margin{
  margin-left: 1.5em
}

.white-font{
  color: white
}

/*for maps*/
html,
body,
.GMap {
  height: 30em;
  width: 100%;
}
.GMap-canvas {
  display: block;
  width: 100%;
  height: 100%;
}


/*override stripe button CSS*/
.stripe-button-el{
  background-color: transparent !important;
  background-image: none !important;
  text-shadow: none !important;
  box-shadow: none !important;

}

.stripe-button-el span{
  display: inline-block;
  height: 38px !important;
  padding: 0 30px !important;
  /*color: #555 !important;*/
  text-align: center !important;
  font-size: 11px !important;
  font-weight: 600 !important;
  line-height: 38px !important;
  letter-spacing: .1rem !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  white-space: nowrap !important;
  /*background-color: transparent !important;*/
  border-radius: 4px !important;
  border: 1px solid #bbb !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
  background-image: none !important;
  text-shadow: none !important;
  box-shadow: none !important;

  color: #FFF !important;
  background-color: #33C3F0 !important;
  border-color: #33C3F0 !important;

}

.stripe-button-el span:hover{
  color: #FFF !important;
  background-color: #1EAEDB !important;
  border-color: #1EAEDB !important; }
}

select {
    -webkit-appearance: none !important;
}

.tiny-top-padding{
    padding-top: 0.2em !important
}

.nav-logo{
  height:1em;
  margin: 0;
  padding-top: 0.2em ;
  padding-left: 0.5em
}

div .white-box{
  /*border: 1px solid black !important;*/
  padding: 1.5em !important;
  margin-bottom: 1.5em !important;
  background-color: white !important;
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, .2);;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.bg-skew {
  height: 100%;
}

body {
  /*background: #232323;*/
  background: #303030;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}

.bg-skew {
  background: tomato;
  background: #FF5757;
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  padding: 100px 0;
  margin-top: -200px;
  z-index: -100;
}

.content {
  /*width: 60%;*/
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
}





.tiny-margin{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.top-bottom-padding{
  padding-bottom: 0.5em
}

.tinyfont{
  font-size: 0.2em;
  margin-top:0;
  margin-bottom:0;
}

.tiny-top-margin{
  margin-top: 0.2em;
}

.zero-bottom-margin{
  margin-bottom: 0;
}

.status-font-size{
  font-size: 1.3em
}

.grey-font{
  color:grey
}

.blue-font{
  color: #14B5CC
}

.green-font{
  color: #27d25c
}

.tiny-bottom-margin{
  margin-bottom:0.5em !important
}

.white-text-white-border-button{
  color: rgba(255,255,255,0.8);
  border-color: rgba(255,255,255,0.8);
}

.white-text-white-border-button:hover{
  color: white;
  border-color: white;
}

@media (max-width: 800px) {
  .content {
    max-width: 100% !important
  }
}
