<!-- /courier/index -->

<script type="text/javascript">
  var jobsAvailable = <%- JSON.stringify(jobsAvailable) %>
  var currentUserCourier = <%- JSON.stringify(currentUser) %>
</script>

<div id="courierJobsListing">

</div>
