<!-- /courier/index -->

<script type="text/javascript">
  var jobsAccepted = <%- JSON.stringify(jobsAccepted) %>
  var currentUserCourier = <%- JSON.stringify(currentUser) %>
</script>
<div id="courierManageJobs">

</div>
